# Essential Libraries
fastapi
uvicorn
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Face Recognition & Image Processing
dlib==19.24.2
face-recognition
face-recognition-models
numpy
opencv-python-headless
Pillow

# Security & Authentication
PyJWT
bcrypt
passlib

# Utility Libraries
python-dotenv




