# Core Backend
fastapi
uvicorn
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Face Recognition & Image Processing
cmake
dlib
face-recognition
face-recognition-models
numpy
pillow
scipy
opencv-python-headless

# Security & Authentication
PyJWT
bcrypt
passlib

# Utility Libraries
python-dotenv
