# Core Backend
fastapi
uvicorn
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Face Recognition & Image Processing (Optimized)
face-recognition
face-recognition-models
numpy
pillow
scipy
opencv-python-headless==4.5.3.56  # Stable version

# Security & Authentication
PyJWT
bcrypt
passlib

# Utility Libraries
python-dotenv
